doctype html
html

  head

    title Harry Coding Academy

    block style
    block scripts
      
  body
    nav#navbar
      div#logo
        img(src="https://img.freepik.com/free-vector/gradient-coding-logo-template_23-2148809439.jpg?w=740&t=st=1695465666~exp=1695466266~hmac=72b4106608aee1f9cae6258d8994c7a0c468cd4cdf5f5675f6d04c9327f0f5ac")
        h1 HCA
          
      ul
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact Us]

    block content
    footer#footer
          | Copyright©2023 HarryCodingAcademy.com | All Rights Reserved