doctype html
html
  head
    title Harry Coding Academy
    style
      include ../static/CSS/style.css
  body
    nav#navbar
      div#logo
        img(src="https://img.freepik.com/free-vector/gradient-coding-logo-template_23-2148809439.jpg?w=740&t=st=1695465666~exp=1695466266~hmac=72b4106608aee1f9cae6258d8994c7a0c468cd4cdf5f5675f6d04c9327f0f5ac")
        h1 HCA
          
      ul
        li #[a(href="/") Home ]
        li #[a(href="/") About ]
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]

    section#introSection
      div.large  Welcome to Harry's Coding Academy 
      div.small Eat Sleep Code Repeat
      div.btn-container 
        button.btn Join Now
    
    section#missionSection
      h3.h-primary Our Missions
      div#cards1
        div.card.center
          h3 Beginner to Advanced
          div.card-box
            div.card-img
              img(src="https://cdn.pixabay.com/photo/2021/02/16/21/21/programming-6022434_640.png", alt="")

            div.card-content
              p This is the best code academy of the universe
        div.card.center
          h3 Expert Teaching 
          div.card-box
            div.card-img
              img(src="https://cdn.pixabay.com/photo/2021/02/16/21/21/programming-6022434_640.png", alt="")

            div.card-content
              p This is the best code academy of the universe
        div.card.center
          h3 Guaranteed Placements
          div.card-box
            div.card-img
              img(src="https://cdn.pixabay.com/photo/2021/02/16/21/21/programming-6022434_640.png", alt="")

            div.card-content
              p This is the best code academy of the universe
      div#cards2
        div.card.center
          h3 Beginner to Advanced
          div.card-box
            div.card-img
              img(src="https://cdn.pixabay.com/photo/2021/02/16/21/21/programming-6022434_640.png", alt="")

            div.card-content
              p This is the best code academy of the universe
        div.card.center
          h3 Expert Teaching 
          div.card-box
            div.card-img
              img(src="https://cdn.pixabay.com/photo/2021/02/16/21/21/programming-6022434_640.png", alt="")

            div.card-content
              p This is the best code academy of the universe
        div.card.center
          h3 Guaranteed Placements
          div.card-box
            div.card-img
              img(src="https://cdn.pixabay.com/photo/2021/02/16/21/21/programming-6022434_640.png", alt="")

            div.card-content
              p This is the best code academy of the universe


    section#sponsorsSection
      h3.h-primary Our Sponsors 
      div#sponsors1
        img(src="../IMG/CLIENTS/cl1.jpg", alt="IMG NOT FOUND", class="spimg")
        img(src="../IMG/CLIENTS/cl2.jpg", alt="IMG NOT FOUND", class="spimg")
        img(src="../IMG/CLIENTS/cl3.jpg", alt="IMG NOT FOUND", class="spimg")
        img(src="../IMG/CLIENTS/cl1.jpg", alt="IMG NOT FOUND", class="spimg")

      div#sponsors2
        img(src="../IMG/CLIENTS/cl4.jpg", alt="IMG NOT FOUND", class="spimg")
        img(src="../IMG/CLIENTS/cl5.jpg", alt="IMG NOT FOUND", class="spimg")
        img(src="../IMG/CLIENTS/cl6.jpg", alt="IMG NOT FOUND", class="spimg")
        img(src="../IMG/CLIENTS/cl5.jpg", alt="IMG NOT FOUND", class="spimg")

      

    footer#footer
      | Copyright©2023 HarryCodingAcademy.com | All Rights Reserved

    script
      include ../static/index.js
